<div
 id="sse-container"
  hx-ext="sse"
  sse-connect="/stream-logs"
>
  <div id="toast-container" sse-swap="toast-event" hx-swap="beforeend"></div>
  <button id="logout" hx-put="/logout" hx-trigger="click" hx-target="#content" hx-redirect-url="/login" hx-swap="outerHTML" hx-confirm="Are you sure you want to logout?">Logout</button>
  <div id="wield-node-status">
    <div id="node-title-buttons-wrapper">
      <div class="section-title">Wield Node</div>
      <div id="wield-node-status-buttons">
        <button id="button-start-service" hx-disabled-elt="this" hx-post="/wield/service/start" hx-trigger="click" hx-swap="none" hx-confirm="Are you sure you want to start the wield-node?">Start Wield Service</button>
        <button id="button-stop-service" hx-disabled-elt="this" hx-post="/wield/service/stop" hx-trigger="click" hx-swap="none" hx-confirm="Are you sure you want to stop the wield-node?">Stop Wield Service</button>
        <button id="button-restart-service" hx-disabled-elt="this" hx-post="/wield/service/restart" hx-trigger="click" hx-swap="none" hx-confirm="Are you sure you want to restart the wield-node?">Restart Wield Service</button>
        <button id="button-update-service" hx-disabled-elt="this" hx-post="/wield/service/update" hx-trigger="click" hx-swap="none" hx-confirm="Are you sure you want to update the wield-node?">Update Wield Service</button>
        <button id="button-toggle-auto-update" hx-post="/wield/service/toggle-auto-update" hx-disabled-elt="this" hx-trigger="click" hx-swap="none">Toggle Auto Update</button>
        <form>
          <label for="datetime">Schedule Restart (date) UTC:</label>
          <input type="datetime-local" id="datetime" name="datetime">
          <button hx-post="/schedule-restart" tx-trigger="click" hx-swap="none">Submit</button>
        </form>
      </div>
    </div>
    <div id="wield-node-section-content">
      <div id="wield-node-id" hx-get="/wield/service/id" hx-trigger="load" hx-swap="innerHTML">Node ID: Loading...</div>
      <div id="wield-version" hx-get="/wield/service/version" hx-trigger="every 2s" hx-swap="innerHTML">Version: Loading...</div>
      <div id="wield-status" hx-get="/wield/service/status" hx-trigger="every 2s" hx-swap="innerHTML">Service Status: Loading...</div>
      <div id="wield-server-time-utc" hx-get="/time-utc" hx-trigger="every 1s" hx-swap="innerHTML">Server Time UTC: Loading...</div>
      <div id="wield-scheduled-restart" hx-get="/scheduled-restart" hx-trigger="every 2s" hx-swap="innerHTML">Restart Scheduled for: Loading...</div>
      <div id="wield-auto-update-status" hx-get="/wield/service/auto-update-status" hx-trigger="every 2s" hx-swap="innerHTML">Auto-Update: Loading...</div>
      <div id="wield-is-up" sse-swap="metric-is-up" hx-swap="innerHTML">is_up: Loading...</div>
      <div id="wield-start-ts" sse-swap="metric-start-ts" hx-swap="innerHTML">start_ts: Loading...</div>
      <div id="wield-current-uptime-ms" sse-swap="metric-current-uptime-ms" hx-swap="innerHTML">current_uptime_ms: Loading...</div>
      <div id="wield-uptime-added-ms" sse-swap="metric-uptime-added-ms" hx-swap="innerHTML">is_up: false</div>
      <div id="wield-last-successful-sync-ts" sse-swap="metric-last-successful-sync-ts" hx-swap="innerHTML">last_successful_sync_ts: Loading...</div>
    </div>
  </div>
  <div id="live-logs">
    <div id="logs-title-buttons-wrapper">
      <div class="section-title">Logs</div>
      <div id="live-logs-buttons">
        <button id="startButton" hx-put="/start-log-stream" hx-disabled-elt="this" hx-trigger="click" hx-swap="none">Start Log Stream</button>
        <button id="stopButton" hx-put="/stop-log-stream" hx-disabled-elt="this" hx-trigger="click" hx-swap="none">Stop Log Stream</button>
        <label>
            <input type="checkbox" id="toggle-scroll" onchange="toggleCheckbox(this)"> Always scroll to bottom
        </label>
      </div>
    </div>
    <div id="log-container" sse-swap="log-stream" hx-swap="beforeend"></div>
  <div id="log-stream-status" hx-get="/log-stream/status" hx-trigger="every 2s" hx-swap="innerHTML">Log Stream: Status Loading...</div>
  </div>
</div>
