{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
<div
 id="sse-container"
  hx-ext="sse"
  sse-connect="/stream-logs"
>
  <div id="wield-version" hx-get="/wield/service/version" hx-trigger="load" hx-swap="innerHTML">Version: Loading...</div>
  <div id="wield-status" hx-get="/wield/service/status" hx-trigger="every 2s" hx-swap="innerHTML">Service Status: Loading...</div>
  <button id="button-start-service" hx-post="/wield/service/start" hx-trigger="click" hx-swap="none">Start Wield Service</button>
  <button id="button-stop-service" hx-post="/wield/service/stop" hx-trigger="click" hx-swap="none">Stop Wield Service</button>
  <button id="button-restart-service" hx-post="/wield/service/restart" hx-trigger="click" hx-swap="none">Restart Wield Service</button>
  <label>
      <input type="checkbox" id="toggle-scroll" onchange="toggleAutoScroll()"> Always scroll to bottom
  </label>
  <button id="startButton" hx-put="/start-log-stream" hx-trigger="click" hx-swap="none">Start Log Stream</button>
  <button id="stopButton" hx-put="/stop-log-stream" hx-trigger="click" hx-swap="none">Stop Log Stream</button>
  <div id="log-stream-status" hx-get="/log-stream/status" hx-trigger="every 2s" hx-swap="innerHTML">Log Stream: Status Loading...</div>
  <div id="log-container" sse-swap="log-stream" hx-swap="beforeend">
  </div>
</div>
{% endblock %}
