{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
<div
 id="sse-container"
  hx-ext="sse"
  sse-connect="/stream-logs"
>
  <button id="logout" hx-put="/logout" hx-trigger="click" hx-target="body" hx-redirect-url="/login" hx-swap="outerHTML">Logout</button>
  <div id="wield-node-status">
    <div id="node-title-buttons-wrapper">
      <div class="section-title">Wield Node</div>
      <div id="wield-node-status-buttons">
        <button id="button-start-service" hx-post="/wield/service/start" hx-trigger="click" hx-swap="none">Start Wield Service</button>
        <button id="button-stop-service" hx-post="/wield/service/stop" hx-trigger="click" hx-swap="none">Stop Wield Service</button>
        <button id="button-restart-service" hx-post="/wield/service/restart" hx-trigger="click" hx-swap="none">Restart Wield Service</button>
      </div>
    </div>
    <div id="wield-node-section-content">
      <div id="wield-version" hx-get="/wield/service/version" hx-trigger="load" hx-swap="innerHTML">Version: Loading...</div>
      <div id="wield-status" hx-get="/wield/service/status" hx-trigger="every 2s" hx-swap="innerHTML">Service Status: Loading...</div>
      <div id="wield-is-up" sse-swap="metric-is-up" hx-swap="innerHTML">is_up: false</div>
    </div>
  </div>
  <div id="live-logs">
    <div id="logs-title-buttons-wrapper">
      <div class="section-title">Logs</div>
      <div id="live-logs-buttons">
        <button id="startButton" hx-put="/start-log-stream" hx-trigger="click" hx-swap="none">Start Log Stream</button>
        <button id="stopButton" hx-put="/stop-log-stream" hx-trigger="click" hx-swap="none">Stop Log Stream</button>
        <label>
            <input type="checkbox" id="toggle-scroll" onchange="toggleCheckbox(this)"> Always scroll to bottom
        </label>
      </div>
    </div>
    <div id="log-container" sse-swap="log-stream" hx-swap="beforeend"></div>
  <div id="log-stream-status" hx-get="/log-stream/status" hx-trigger="every 2s" hx-swap="innerHTML">Log Stream: Status Loading...</div>
  </div>
</div>
{% endblock %}
